<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring3-3.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Home page</title>
<!-- Extjs import -->
<link rel="stylesheet" type="text/css"
	href="resources/extjs/ext-all.css" />
<script type="text/javascript" src="resources/extjs/ext-all.js"></script>
<!-- Our script -->
</head>

<body>
	<div layout:fragment="content">
		<script th:inline="javascript">
			/*<![CDATA[*/

			Ext.onReady(function() {
				
				
						Ext.QuickTips.init();
						var beneficiarySelected= Ext.create('Ext.data.Store', {
						    fields: ['firstName', 'montant','beneficiaryId'],
						    autoLoad:false,
						   /* proxy: {
						        type: 'ajax',
						        url: 'data/beneficiarySelected.json',
						        reader: {
						            type: 'json',
						            root: 'beneficiarySelected',
						            successProperty: 'success'
						        }
						    }*/

						    
						});
						var beneficiaries = Ext.create('Ext.data.Store', {
						    fields: ['beneficiaryId', 'accountNumber'],
						    autoLoad:true,
						    /* proxy: {
						        type: 'ajax',
						        url:  [[@{/comptes}]],
						        reader: {
						            type: 'json',
						            root: 'root',
						        }
						    }, */
						    data : [
								       
							        {"beneficiaryId":"1", "accountNumber":"791995191992"},
							        {"beneficiaryId":"2", "accountNumber":"984495121200"},
							        {"beneficiaryId":"3", "accountNumber":"484949494984"},
							        {"beneficiaryId":"4", "accountNumber":"791995191992"},
							        {"beneficiaryId":"5", "accountNumber":"984495121200"},
							        {"beneficiaryId":"6", "accountNumber":"484949494984"},
							       
							    ]
						    
						});
						
						var comptes =Ext.create('Ext.data.Store',{
							fields: ['accountNumber'],
						   // autoLoad:true,
						    autoLoad : {
						    	scope : this ,
						    	callback :  function(){
						    		var cmb = Ext.getCmp('selectList');
						    		var store =cmb.store ;
						    		cmb.setValue(store.getAt('0').get('accountNumber'));
						    	}
						    },
						    proxy: {
						        type: 'ajax',
						        url:  [[@{/comptes}]],
						        reader: {
						            type: 'json',
						            root: 'root',
						        }
						    }
						});
						
						var cellEditing = Ext.create('Ext.grid.plugin.CellEditing', {
					        clicksToEdit: 1
					    });
						
						var formPanel = Ext.create('Ext.form.Panel', {
							    xtype: 'panel',
							    id:'panel_1',
					            title: 'Virememnt Multiple',
					            padding:'5px',
					            height: 500,
					            margins: '50 62 100 105',
					            width: '100%',
					            layout: 'border',
					            buttonAlign: 'center',
					            items:[
		 			                {        
					                    region:'east',
					                    xtype: 'grid',
					                    store: beneficiarySelected,
									       selType: 'cellmodel',
									       plugins: [cellEditing],
									       width: '50%',
									       height: 250,
									       title: 'Béneficiaires des virements',

									       columns: [
									           {

									               text: 'Béneficiaires',
									               width: 100,
									               sortable: false,
									               hideable: false,
									               dataIndex: 'firstName'
									           }
									           ,
									           {
									               text: 'Montant',
									               width: 150,
									               dataIndex: 'montant',
									               hidden: false,
									               editor: 'textfield'
									           },
									           {
									               text: 'Identifiant',
									               flex: 1,
									               dataIndex: 'beneficiaryId'
									           }
									           ,{
									            xtype:'actioncolumn',
									            width:50,
									            items: [{
									                icon: 'resources/images/delete.png',
									                tooltip: 'Delete',
									                handler: function(grid, rowIndex, colIndex) {
									                    var rec = grid.getStore().getAt(rowIndex);
									                    grid.getStore().remove(rec);
									                }
									            }]
									        }
									       ]/* ,
									       initComponent: function () {
									        this.plugins = [Ext.create('Ext.grid.plugin.CellEditing', {
									            clicksToEdit: 1
									        })];

									        this.callParent(arguments);
									    } */
								    
					                },{
					                	 region:'west',
						                 xtype: 'grid',					                 
						                 store:beneficiaries, 
						                 width: '50%',
						                 height: 250,
						                 title: 'Choisir les bénéficiaires',
						                 
						                 columns: [
						                     {

						                         text: 'Béneficiaires',
						                         flex:3,
						                         dataIndex: 'beneficiaryId'
						                     } ,
						                     {
						                         text: 'Numéro de compte',
						                         flex:5,
 						                         dataIndex: 'accountNumber',
						                     }, 
						                 ],
						                 listeners: {
						                	 itemdblclick: function(dv, record, item, index, e) {
						                	 var beneficiaryId = record.get('beneficiaryId');
								                	 Ext.Ajax.request({ 
								     					url : [[@{/beneficiary}]],
								     				    method: 'POST',
								     				    params : { "beneficiaryId" : beneficiaryId },
								     				    success: function(response){
								     				        var myData = Ext.JSON.decode(response.responseText);
								     				        beneficiarySelected.add(myData); // process server response here
								     				    }
								     				});
						                	 }
						                 }
					                     
						              
					                },{
					                	region:'south',
					                	xtype:'panel',
					                	id:'virement',
					                    height:300,
					                    widh:520,
					                    layout: {
					                        type: 'table',
					                        // The total column count must be specified here
					                        columns: 2,
					                        tableAttrs: {
					                        style: {
					                            width: '100%',
					                            height:'100%',
					                        }
					                    }
					                    },defaults: {
					                        // applied to each contained panel
					                        bodyStyle: 'padding:20px',
					                         border:false,
					                    },
					                    items:[{
					                        xtype: 'panel',
					                        height:'100%',

					                        layout: {
					                            pack: 'center',
					                            type: 'hbox'
					                        },

					                        width: '100%',
					                        items: [{
					                            xtype: 'combobox',
					                            width:480,
					                            fieldLabel: 'Choisir un compte',
					                            valueField: 'accountNumber',
					                            store: comptes,
					                            editable : false ,
					                            forceSelection : true,
					                            queryMode : 'local',
					                            displayField: 'accountNumber', 
					                            name:'accountNumber',
					                            id : 'selectList'
					                        }]
					                    },{
					                        xtype: 'panel',
					                        height:'100%',
					                        layout: {
					                            pack: 'center',
					                            type: 'hbox'
					                        },
					                        width: '100%',
					                        items: [{
					                            xtype: 'textfield',
					                            fieldLabel: 'date de création',
					                            width:480,
					                            value:'16/02/2016',
					                            name:'creationDate',
					                            readOnly: true
					                        }]
					                    },{
					                        xtype: 'panel',
					                        height:'100%',
					                        layout: {
					                            pack: 'center',
					                            type: 'hbox'
					                        },
					                        width: '100%',
					                        items: [{
					                           xtype: 'datefield',
					                            fieldLabel: 'Date d\'exécution',
					                            msgTarget: 'under',
					                            name:'executionDate',
					                            width:480
					                        }]
					                    },{
					                        xtype: 'panel',
					                        height:'100%',
					                        layout: {
					                            pack: 'center',
					                            type: 'hbox'
					                        },
					                        width: '100%',
					                        items: [{
					                            xtype: 'textfield',
					                            fieldLabel: 'Motif',
					                            width:480,
					                            name:'motif'
					                        }]
					                    },{
					                        xtype: 'panel',
					                        height:'100%',
					                        layout: {
					                            pack: 'center',
					                            type: 'hbox'
					                        },
					                        width: '100%',
					                        items: [{
					                            xtype: 'numberfield',
					                            itemId: 'p1',
					                            fieldLabel: 'Nombre de bénéficiaires:',
					                            name:'beneficiaryNumber',
					                            vtypeText:'Le nombre de bénéficiaires doit saisie est différent au nombre de bénéficiaires selctionnés',
					                            msgTarget: 'under',
					                            width:480
					                        }]
					                    },{
					                        xtype: 'panel',
					                        height:'100%',
					                        layout: {
					                            pack: 'center',
					                            type: 'hbox'
					                        },
					                        width: '100%',
					                        items: [{
					                           xtype: 'numberfield',
					                           itemId:'montant',
					                            fieldLabel: 'Montant',
					                            name:'balancing',
					                            width:480
					                        }]
					                    }],
					                	buttons: [{
								            text: 'Save',
								            
								            handler: function() {
								                //var form = Ext.get('id_form');
								                var form = this.up('form').getForm();
								                var myItems = beneficiarySelected.getRange();
												var myJson = [];
												for ( var i in myItems) {
												 myJson.push({'j_idBeneficiaire' : myItems[i].get('beneficiaryId'),
															'j_montant' : myItems[i].get('montant'),
															});
												} 
								                form.submit({
								                	url: [[@{/save}]],
								                	params : {
								                		beneficiariesBalancing : Ext.encode(myJson),
								                			},	
								                	success: function(fp, o) {
								                		 window.location = Ext.decode(o.response.responseText).msg;
								                	},
								                	failure: function(fp, o) {
								                		Ext.Msg.alert('Failure', 'Erreur');
													} 
								                })
								            }
								        },{
								            text: 'Cancel',
								            handler: function() {
								                this.up('form').getForm().reset();
								            }
								        }]
									} ]
					                        
						});

						formPanel.render('test');
					});

			/*]]>*/
		</script>



		<div id="test" />

	</div>

</body>
</html>